# Thanks to WinKarbik for making efforts in unisoc decrypting
import /system/etc/init/android.hardware.gatekeeper@1.0-service.trusty.rc
import /system/etc/init/android.hardware.keymaster@4.1-unisoc.service.rc

#service name must be < 16
service vendor.rpmbproxy /system/bin/sprdstorageproxyd -f rpmb -d /dev/trusty-ipc-dev0 -p /data/vendor/sprd_ss -r /dev/mmcblk0rpmb
    class core
    group system
    oneshot
    seclabel u:r:tee:s0

service vendor.nsproxy /system/bin/sprdstorageproxyd -f ns -d /dev/trusty-ipc-dev0 -p /data/vendor/sprd_ss -r /dev/mmcblk0rpmb
    class late_start
    group system
    seclabel u:r:tee:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /data/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service wait_for_keymaster /system/bin/wait_for_keymaster
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    oneshot
    seclabel u:r:recovery:s0

on post-fs-data
    mkdir /data/vendor/sprd_ss 0770 system system

on fs
    setprop crypto.ready 1

on property:vendor.sprd.storageproxyd.enabled=1
    mkdir /data/vendor/sprd_ss 0770 system system
    start vendor.rpmbproxy
    start vendor.nsproxy

on boot
    start boot-hal-1-2
    start health-hal-2-1

on late-fs
    exec_start wait_for_keymaster

on property:hwservicemanager.ready=true
    write /proc/bootprof "hwservicemanager:ready"
    start vendor.gatekeeper-1-0
    start vendor.unisoc.keymaster-4-1

on property:ro.crypto.state=encrypted
# FBE
    install_keyring
    start gatekeeper-1-0
    start keymaster-3-0
    setprop vendor.sprd.storageproxyd.enabled 1
    start vold

on property:ro.crypto.state=unsupported
    stop vendor.unisoc.keymaster-4-1
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop vendor.unisoc.keymaster-4-1
    stop vendor.gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop vendor.unisoc.keymaster-4-1
    stop vendor.gatekeeper-1-0